#animal-list {
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Welcome_header {
    text-align: center;
    background-color: rebeccapurple;
}

._value {
    display: flex;
    justify-content: center;
    align-items: center;
}

